@model List<Lugar>

@{
    ViewData["Title"] = "Lugares de Interés";
    Layout = "_Layout";
    string defaultImageUrl = "https://img.freepik.com/foto-gratis/angulo-bosque-3d-arboles-ro0cas_23-2150800507.jpg";
}

<link href="~/css/lugaresindex.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="title">@ViewData["Title"]</h1>

        <div class="d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/128/1085/1085493.png" alt="Airplane" class="airplane-logo small-logo m-3">
            <input type="text" class="form-control search-input" placeholder="Buscar lugares..." id="searchInput">
        </div>
    </div>

    <div class="section" id="publicSection">
        <button class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center" id="togglePublicPlaces">
            <h2 class="mb-0">Públicos</h2>
            <span id="publicPlacesArrow" class="fa fa-chevron-down"></span>
        </button>
        <div class="row row-cols-auto g-4" id="publicPlacesContainer" style="display: none; max-height: 400px; overflow-y: auto; margin-top: 20px;">
            @foreach (var lugar in Model.Where(l => l.Tipo.Trim().ToLower() == "publico"))
            {
                <div class="col">
                    <div class="card h-100 card-custom">
                        <div class="photo">
                            <img src="@(string.IsNullOrEmpty(lugar.Imagen) ? defaultImageUrl : lugar.Imagen)"
                                 alt="@lugar.Nombre" class="card-img-top" onerror="this.src='@defaultImageUrl';" />
                            <div class="photos">Photos</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title txt4">@lugar.Nombre</h5>
                            <p class="card-text txt5">@lugar.Ubicacion</p>
                            <p class="card-text txt2">@lugar.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <p>
                                <a asp-controller="Lugares" asp-action="Details" asp-route-idlugar="@lugar.IdLugar" class="btn btn-outline-danger">Read More</a>
                                <a id="heart-@lugar.IdLugar" class="btn btn-outline-light heart-button" data-idlugar="@lugar.IdLugar">
                                    <span class="like">
                                        <img src="https://img.icons8.com/?size=24&id=84034&format=png" alt="Guardar" style="width: 24px; height: 24px;">
                                    </span>
                                </a>


                            </p>
                            <p class="txt3"><i class="far fa-clock"></i>@lugar.Horario</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="section" id="privateSection">
        <button class="btn btn-link w-100 text-left d-flex justify-content-between align-items-center" id="togglePrivatePlaces">
            <h2 class="mb-0">Privados</h2>
            <span id="privatePlacesArrow" class="fa fa-chevron-down"></span>
        </button>
        <div class="row row-cols-auto g-4" id="privatePlacesContainer" style="display: none; max-height: 400px; overflow-y: auto; margin-top: 20px;">
            @foreach (var lugar in Model.Where(l => l.Tipo.Trim().ToLower() == "privado"))
            {
                <div class="col">
                    <div class="card h-100 card-custom">
                        <div class="photo">
                            <img src="@(string.IsNullOrEmpty(lugar.Imagen) ? defaultImageUrl : lugar.Imagen)"
                                 alt="@lugar.Nombre" class="card-img-top" onerror="this.src='@defaultImageUrl';" />
                            <div class="photos">Photos</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title txt4">@lugar.Nombre</h5>
                            <p class="card-text txt5">@lugar.Ubicacion</p>
                            <p class="card-text txt2">@lugar.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <p>
                                <a asp-controller="Lugares" asp-action="Details" asp-route-idlugar="@lugar.IdLugar" class="btn btn-outline-danger">Read More</a>
                                <a id="heart-@lugar.IdLugar" class="btn btn-outline-light heart-button" data-idlugar="@lugar.IdLugar">
                                    <span class="like">
                                        <img src="https://img.icons8.com/?size=24&id=84034&format=png" alt="Guardar" style="width: 24px; height: 24px;">
                                    </span>
                                </a>

                            </p>
                            <p class="txt3"><i class="far fa-clock"></i>@lugar.Horario </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const searchInput = document.getElementById("searchInput");
    const publicPlacesContainer = document.getElementById("publicPlacesContainer");
    const privatePlacesContainer = document.getElementById("privatePlacesContainer");

    searchInput.addEventListener("input", function() {
        const searchTerm = searchInput.value.toLowerCase();
        filterPlaces(searchTerm);
    });

    function filterPlaces(searchTerm) {
        const publicPlaces = publicPlacesContainer.getElementsByClassName("col");
        const privatePlaces = privatePlacesContainer.getElementsByClassName("col");

        // Filtrar lugares públicos
        Array.from(publicPlaces).forEach(lugar => {
            const lugarNombre = lugar.querySelector(".txt4").textContent.toLowerCase();
            const matchesSearch = lugarNombre.includes(searchTerm);
            lugar.style.display = matchesSearch ? "block" : "none";
        });

        // Filtrar lugares privados
        Array.from(privatePlaces).forEach(lugar => {
            const lugarNombre = lugar.querySelector(".txt4").textContent.toLowerCase();
            const matchesSearch = lugarNombre.includes(searchTerm);
            lugar.style.display = matchesSearch ? "block" : "none";
        });
    }

    $(document).ready(function() {
        // Toggle público y privado
        $('#togglePublicPlaces').click(function() {
            $('#publicPlacesContainer').slideToggle();
            const sectionName = $('#publicPlacesContainer').is(':visible') ? 'Públicos' : 'Públicos (Cerrado)';
            $(this).find('h2').text(sectionName);
            $('#publicPlacesArrow').toggleClass('fa-chevron-down fa-chevron-up');
        });

        $('#togglePrivatePlaces').click(function() {
            $('#privatePlacesContainer').slideToggle();
            const sectionName = $('#privatePlacesContainer').is(':visible') ? 'Privados' : 'Privados (Cerrado)';
            $(this).find('h2').text(sectionName);
            $('#privatePlacesArrow').toggleClass('fa-chevron-down fa-chevron-up');
        });
        
    });
        $(document).ready(function() {
        $('.heart-button').click(function() {
            var lugarId = $(this).data('idlugar');  

            $.ajax({
                url: '/Lugares/AddFavorito',  
                type: 'POST',
                data: { idLugar: lugarId },
                success: function(response) {
                    if (response.success) {
                        alert('Lugar guardado como favorito!');
                        $('#heart-' + lugarId + ' img').css('filter', 'grayscale(0%)');
                    } else {
                        alert('Este lugar ya está en tus favoritos.');
                    }
                },
                error: function() {
                    alert('Hubo un error al intentar añadir el lugar a favoritos.');
                }
            });
        });
    });

</script>

<style>
    /* Fondo azul cuando la sección está cerrada */
    .section button {
        background-color: #cfeff4;
        color: #00796b;
        border: none;
        font-size: 14px; /* Tamaño de la fuente más pequeño */
        padding: 5px 10px; /* Espaciado más pequeño */
    }

    .section button:hover {
        background-color: #bee6ec;
    }

    /* Limitar el tamaño de las secciones de tarjetas */
    .row-cols-auto {
        max-height: calc(2 * 4.5rem); /* Limitar a dos filas */
        overflow-y: auto;
    }

    /* Alineación de la flecha y el texto */
    #togglePublicPlaces, #togglePrivatePlaces {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px; /* Aumenté el espacio entre las secciones */
    }

    #togglePublicPlaces h2, #togglePrivatePlaces h2 {
        margin: 10px;
        font-size: 20px; /* Tamaño de la fuente más pequeño */
        padding-right: 10px; /* Separación de la flecha */
    }

    /* Flecha más pequeña */
    .fa-chevron-down, .fa-chevron-up {
        font-size: 18px;
    }

    /* Separar las secciones más */
    .section {
        margin-bottom: 25px; /* Aumenté el margen entre las secciones */
    }
</style>
